
{% extends 'footer_header.html' %}

{% block menu_text %}
効果測定_エラー画面
{% endblock %}

{% block back_to_menu_text %}
メニューへ戻る
{% endblock %}

{% block body %}
<br><br>
エラーです。ヒント：
<ul>
    <li>テキストを入力せずに翻訳していませんか？</li>
    <li>翻訳せずに音声合成していませんか？</li>
    <li>翻訳せずに感情分析していませんか？</li>
    <li>テキストファイルをアップロードせずに読み込んでいませんか？</li>
    <li>画像をアップロードせずに送信していませんか？</li>
    <li>ファイルを読み込んで送信してから続けて送信していませんか？  </li>
    <li>ファイルのアップロード時に適切なファイルを読み込んでいますか？</li>
    <li>翻訳する文章量が多すぎませんか？5000bytesまで対応しています。</li>
    <li>日本語でおよそ1600字以上はエラーとなります。</li>
    <li>翻訳する文章量が多すぎませんか？5000bytes以上の感情分析は対応していません。</li>
    <li>ヒンディー語はbytes数が多くなりがちのようです。</li>
    <li>翻訳する文章量が多すぎませんか？1500文字以上の音声合成は対応していません。</li>
    <li>特殊文字を使用していませんか？音声合成は特殊文字に対応していません。</li>
    <li>AWSは問題ありませんか？</li>
  </ul>
{% endblock %}